.elementor-5580 .elementor-element.elementor-element-d9e9bdc:not(.elementor-motion-effects-element-type-background),
.elementor-5580 .elementor-element.elementor-element-d9e9bdc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-uicore_dark);
}

.elementor-5580 .elementor-element.elementor-element-d9e9bdc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-d9e9bdc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-1de67f4 {
    padding: 107px 0px 64px 0px;
}

.elementor-5580 .elementor-element.elementor-element-2f738d4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px;
}

.elementor-5580 .elementor-element.elementor-element-87d0b8a {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-87d0b8a img {
    width: 233px;
}

.elementor-5580 .elementor-element.elementor-element-fb9468c>.elementor-widget-container {
    margin: 13px 0px 30px 0px;
}

.elementor-5580 .elementor-element.elementor-element-fb9468c {
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-c84199e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px;
}

.elementor-5580 .elementor-element.elementor-element-7d4ed08 .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-7d4ed08>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-icon i {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-icon svg {
    fill: var( --e-global-color-uicore_headline);
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-3fb931b {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-de46015>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px;
}

.elementor-5580 .elementor-element.elementor-element-3910b77 .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-03afab9 .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-03afab9>.elementor-widget-container {
    padding: 25px 0px 0px 0px;
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-a72df4b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-a052ed7 .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-a052ed7>.elementor-widget-container {
    padding: 25px 0px 0px 0px;
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-37d5391 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-f33b5df>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px;
}

.elementor-5580 .elementor-element.elementor-element-d87570c .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-225074f {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-8ae9ad9 .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-8ae9ad9>.elementor-widget-container {
    padding: 25px 0px 0px 0px;
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-d8519cc {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-b57871a .elementor-heading-title {
    color: var( --e-global-color-uicore_body);
    font-size: 14px;
    font-weight: 600;
}

.elementor-5580 .elementor-element.elementor-element-b57871a>.elementor-widget-container {
    padding: 25px 0px 0px 0px;
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-uicore_secondary-font-weight);
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-text {
    color: var( --e-global-color-uicore_headline);
    transition: color 0.3s;
}

.elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-5580 .elementor-element.elementor-element-853a86e {
    text-align: left;
}

.elementor-5580 .elementor-element.elementor-element-853a86e>.elementor-widget-container {
    padding: 24px 0px 24px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #96969645;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-5580 .elementor-element.elementor-element-1de67f4 {
        padding: 90px 0px 48px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-87d0b8a img {
        width: 130px;
    }
    .elementor-5580 .elementor-element.elementor-element-7d4ed08 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-7d4ed08>.elementor-widget-container {
        padding: 26px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3910b77 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-03afab9 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a052ed7 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-a052ed7>.elementor-widget-container {
        padding: 26px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d87570c .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-8ae9ad9 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-8ae9ad9>.elementor-widget-container {
        padding: 26px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-b57871a .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-5580 .elementor-element.elementor-element-b57871a>.elementor-widget-container {
        padding: 26px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(7px/2);
        margin-left: calc(7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-7px/2);
        margin-left: calc(-7px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-7px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-7px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-853a86e>.elementor-widget-container {
        padding: 24px 0px 24px 0px;
    }
}

@media(max-width:767px) {
    .elementor-5580 .elementor-element.elementor-element-1de67f4 {
        padding: 60px 0px 32px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-2f738d4>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-87d0b8a {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-87d0b8a img {
        width: 125px;
    }
    .elementor-5580 .elementor-element.elementor-element-fb9468c {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-c84199e.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-5580 .elementor-element.elementor-element-7d4ed08 {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-7d4ed08>.elementor-widget-container {
        padding: 32px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-3fb931b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-de46015.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-5580 .elementor-element.elementor-element-de46015>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-3910b77 {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-e6f0b54 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-03afab9 {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-a72df4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-a052ed7 {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-a052ed7>.elementor-widget-container {
        padding: 32px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-37d5391 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-bc-flex-widget .elementor-5580 .elementor-element.elementor-element-f33b5df.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-5580 .elementor-element.elementor-element-f33b5df.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-5580 .elementor-element.elementor-element-f33b5df.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-5580 .elementor-element.elementor-element-f33b5df>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-d87570c {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-225074f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-8ae9ad9 {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-8ae9ad9>.elementor-widget-container {
        padding: 32px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-d8519cc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-b57871a {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-b57871a>.elementor-widget-container {
        padding: 32px 0px 0px 0px;
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(6px/2);
        margin-left: calc(6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-6px/2);
        margin-left: calc(-6px/2);
    }
    body.rtl .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-6px/2);
    }
    body:not(.rtl) .elementor-5580 .elementor-element.elementor-element-6d3ff6d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-6px/2);
    }
    .elementor-5580 .elementor-element.elementor-element-853a86e {
        text-align: center;
    }
    .elementor-5580 .elementor-element.elementor-element-853a86e>.elementor-widget-container {
        padding: 24px 0px 24px 0px;
    }
}

@media(min-width:768px) {
    .elementor-5580 .elementor-element.elementor-element-2f738d4 {
        width: 50%;
    }
    .elementor-5580 .elementor-element.elementor-element-c84199e {
        width: 13.871%;
    }
    .elementor-5580 .elementor-element.elementor-element-de46015 {
        width: 17%;
    }
    .elementor-5580 .elementor-element.elementor-element-f33b5df {
        width: 17%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-5580 .elementor-element.elementor-element-2f738d4 {
        width: 37%;
    }
    .elementor-5580 .elementor-element.elementor-element-c84199e {
        width: 21%;
    }
    .elementor-5580 .elementor-element.elementor-element-de46015 {
        width: 21%;
    }
    .elementor-5580 .elementor-element.elementor-element-f33b5df {
        width: 21%;
    }
}